python-dotenv
langchain>=0.1.0
langchain_community>=0.0.10
langchain-core>=0.1.0
langchain_groq
langchain_text_splitters
streamlit
pypdf
validators==0.28.1
youtube_transcript_api
pytube
unstructured
transformers
gtts>=2.5.4
Pillow