python-dotenv
langchain_community
streamlit
langchain_groq
langchain_text_splitters
pypdf
validators==0.28.1
youtube_transcript_api>=0.6.0
pytube
unstructured
transformers
gtts
Pillow
langchain==0.2.17
langchain-core