python-dotenv
langchain==0.0.297
langchain-community>=0.0.10
langchain-groq
langchain-text-splitters
streamlit
pypdf
validators==0.28.1
youtube_transcript_api
pytube
unstructured
transformers
gtts>=2.5.4
Pillow